/* styles.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #edfff3; /* subtle green */
    color: #212529;
  }
  
  h1 {
    font-weight: 600;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    font-weight: bold; /* bold nav links */
  }
  
  .nav-link.active {
    color: #ee4180 !important;
  }
  